* {
    box-sizing: border-box;
}

body {
    padding: 60px
}

header {
    display: flex;
    align-items: center;
    height: 85px;
}

body, header {
    background-color: rgb(67, 83, 114);
}

header, div {
    border-radius: 25px;
    
}

div {
    background-color: white;;
    padding: 30px
}

h1 {
    color: white;
    font-size: 45px;
    flex-wrap: nowrap;
    margin-top: 0px;
}

#admin-link {
    background-color: white;
    margin-left: auto;
    border-radius: 25px;
    padding: 15px;
    color:rgb(67, 83, 114);
    font-size: larger;
    text-decoration: none;
}

h1, #admin-link {
    margin-bottom: 30px;
}

#admin-link:hover {
    color:white;
    border: 0.5px solid white;
    background-color:rgb(67, 83, 114);
}

.blog-content {
    padding-bottom: 40px;
    border-bottom: 3px dotted rgb(135, 164, 222);
    margin-bottom: 0;;
}

#blog-title {
    margin-top: 0px;
}

.read-more {
    color: rgb(135, 164, 222);
    font-weight: 900;
}

.read-more:hover {
    color: rgb(74, 89, 119);
}

.date {
    color: rgb(171, 170, 170);
    font-size: small;
}

.tags {
    color: rgb(135, 164, 222);
    font-size: small;
}