#admin-table {
    border: solid 3px;
    padding: 5px;
}

#admin-table th {
    border: solid 3px;
    padding: 5px;
}

#admin-table td {
    border: solid 3px;
    padding: 2px;
}

#select {
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
    
}

#update-post {          /*Div för innehållet på update-post.html*/
    margin-left: 40px;
}